<!DOCTYPE html>
<html>

<head>
    <title>Web2Lab2</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<body class="main-container">
    <h1>Hello! Welcome to WEB2 LAB2</h1>
    <h3>This exercise demonstrates SQL Injection and CSRF vulnerablities</h3>
    <p>Creator: Jakov Sikirić</p>
    <div class="options">
        <button class="button" id="1">SQL Injection</button>
        <button class="button" id="2">CSRF</button>
    </div>
    <form action="/reset-passwords" method="POST" style="border: none;">
        <button class="button">Reset passwords</button>
    </form>

    <div class="users" style="width: 20%;">
        <div class="user" style="display: flex; flex-direction: row; justify-content: space-around;">
            <p>Michael:</p>
            <p>bulls1991</p>
        </div>
        <div class="user" style="display: flex; flex-direction: row; justify-content: space-around;">
            <p>Bob:</p>
            <p>teardrop01</p>
        </div>
        <div class="user" style="display: flex; flex-direction: row; justify-content: space-around;">
            <p>Alice:</p>
            <p>sunshine02</p>
        </div>
        <div class="user" style="display: flex; flex-direction: row; justify-content: space-around;">
            <p>Leo:<p>
            <p>goat10</p>
        </div>
    </div>

    <script>
        document.getElementById('1').addEventListener('click', function () {
            // Redirect to /task1
            window.location.href = '/task1';
        });
        document.getElementById('2').addEventListener('click', function () {
            // Redirect to /task1
            window.location.href = '/task2';
        });
    </script>
</body>

</html>